//Widescreens
@include mediaXl {

}

//Desktops & Laptops
@include mediaLg {
    
}

//Tablets & Small Laptops
@include mediaMd {
    main {
        text-align: center;
        .lg-heading {
            font-size: 6rem;
            line-height: 1;
            margin-bottom: 3rem;
        }
        .sm-heading {
            font-size: 2rem;
        }
    }
    .menu{
        .menu-branding,.menu-nav{
            float: none;
            width: 100%;

            &.show {
                transform: tranlate3d(0,0,0);
            }
        }
    }
    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%,0,0);
        font-size: 2.5rem;
    }
    .menu-branding {
        height: 25vh;
        transform: translate3d(100%,0,0);

        .portrait {
            width: 150px;
            height: 150px;
            img {
                width: 150px;
            }
        }
    }
}

//Smartphones
@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
    }
}